---
---
@charset "utf-8";

// Our variables
$base-font-family: 'Titillium Web', sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$bg-color: #F5F5F5;
$text-color: #111111;
$hover-colour: #86CC00;
$brand-color-light: #E9EBE3;
$brand-color: #757672; // Sidebar colour with overlay at 0.5 opacity
$brand-color-dark: #3A3B39; // Sidebar colour with overlay at 0.75 opacity 

$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

// Width of the content area
$content-width: 800px;

$phone: 600px;
$tablet: 800px;

$scroll-arrow-size: 48px;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "base",
        "layout",
        "graphics",
        "syntax";