---
layout: nowrap
title: Portfolio
permalink: /portfolio/
---

{% assign items = (site.portfolio | sort: 'date') | reverse %}

<nav id="portfolio-nav">
  <a class="slide-link" href="#portfolio">portfolio</a>
  {% for item in items %}
    <a class="slide-link" href="#{{ item.slug }}">{{ item.slug }}</a>
  {% endfor %}
</nav>

<div class="parallax">
  <div class="slide" id="portfolio">
    <div class="portfolio-bg"></div>
    <div class="portfolio-content">
      <div class="wrapper">
        <header class="post-header">
          <h1 class="post-title">{{ page.title }}</h1>
        </header>
        <div class="portfolio-text">
          <h2>Hello, World</h2>
          <p>
            Welcome to my portfolio, here you'll find a showcase of my recent work.
            The current selection is somewhat weighted towards my endeavours with front-end web
            development as it is the easiest to visualise; however more is still to come.
          </p>
        </div>
        <div class="portfolio-img">
          <img src="{{ "/images/laptop.svg" | prepend: site.baseurl }}"
               alt="Laptop Code">
          <span class="scroll-arrow" id="scroll-content">
            Scroll! {% include icons/arrows/down.svg %}
          </span>
        </div>
      </div>
    </div>
  </div>
  
  {% for item in items %}
    <div class="slide" id="{{ item.slug }}">
      <div class="portfolio-bg"></div>
      <div class="portfolio-content">
        <div class="portfolio-img">
          <img src="{{ item.imgpath | append: item.image | prepend: site.baseurl }}"
               alt="{{ item.imgalt }}" title="{{ item.imgalt }}">
        </div>
        <div class="wrapper">
          <div class="portfolio-text">
            <h1><a href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a></h1>
            <p class="portfolio-meta">
              <time datetime="{{ item.date | date_to_xmlschema }}" itemprop="datePublished">
                {{ item.date | date: "%B %Y" }}
              </time>
            </p>
            <h2>{{ item.tagline }}</h2>
            <p>{{ item.excerpt }}</p>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  
</div>