<script type="text/javascript" src="/cdn/chronic-cookie-1.0.0-min.js"></script>
<script type="text/javascript">

    ChronicCookie.ConsentDialog.position = ChronicCookie.ConsentDialogPosition.bottom;
    
    ChronicCookie.ConsentDialog.infoButtonHref = '{{ "/legal/cookie-policy" | prepend: site.baseurl }}';

    ChronicCookie.CookieConsent.optInCallback = function () {
        window['ga-disable-UA-80839244-1'] = false;
    };

    ChronicCookie.CookieConsent.optOutCallback = function () {
        window['ga-disable-UA-80839244-1'] = true;
    };

    ChronicCookie.CookieConsent.go();

</script>