<header id="site-header">
  <nav id="site-nav">
    <a href="#" class="icon menu-icon">
      {% include icons/nav.svg %}
    </a>
    <div id="menu">
      {% for my_page in site.pages %}
        {% if my_page.title %}
          {% unless my_page.url contains '/page-' or !my_page.no_navlink %}
            <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">
              {{ my_page.title }}
            </a>
          {% endunless %}
        {% endif %}
      {% endfor %}
    </div>
  </nav>
</header>