<div id="side-column" class="{{ include.type }}">
	<div id="underlay">
		<span id="sidebar-graphic">{% include icons/mountain.svg %}</span>
	</div>
	<div id="canvas-enclosure"></div>
	<div id="overlay">
		{% include header.html %}
		<div id="left-panel">
			<a id="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
			<p id="site-description">{{ site.description }}</p>
			{% include social-media.html %}
		</div>
		<span class="scroll-arrow" id="scroll-mobile">{% include icons/arrows/down.svg %}</span>
	</div>
</div>