<div id="side-column" class="{{ include.type }}">
	<div id="underlay">
		<span id="sidebar-graphic">{% include icons/mountain.svg %}</span>
	</div>
	<div id="glass-pane"></div>
	<div class="canvas-enclosure" id="firefly-canvas"></div>
	<div id="overlay">
		{% include header.html %}
		<div id="left-panel">
			<div id="side-content">
				<a id="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
				<p id="site-tagline">{{ site.tagline }}</p>
				{% include social-media.html %}
			</div>
		</div>
		<span class="scroll-arrow" id="scroll-mobile">{% include icons/arrows/down.svg %}</span>
	</div>
</div>