<ul class="social-media-list">
  
  <!--Email Icon-->
  {% if site.email %}
  <li>
    <a href="mailto:{{ site.email }}">
      <span class="icon icon-email">{% include icons/email.svg %}</span>
    </a>
  </li>
  {% endif %}
  
  <!--GitHub Icon-->
  {% if site.github_username %}
  <li>
    <a href="https://github.com/{{ site.github_username }}">
      <span class="icon icon-github">{% include icons/github.svg %}</span>
    </a>
  </li>
  {% endif %}
  
  <!--LinkedIn Icon-->
  {% if site.linkedin_username %}
  <li>
    <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
      <span class="icon icon-linkedin">{% include icons/linkedin.svg %}</span>
    </a>
  </li>
  {% endif %}
  
</ul>