/*
 * Graphics styles
 */
 
// General svg graphic
%graphic {
  > svg {
    display: inline-block;
    vertical-align: middle;
    @include size(100%);
  }
}

// General Icons
.icon {
  @extend %graphic;
  @include size($icon-size);
  > svg {
    @include size($icon-size);
    path {
      fill: $brand-colour-light;
      @include transition(fill 1s);
    }
  }
  &:hover { > svg { path { fill: $hover-colour; } } }
}

// Darker varients
.icon-dark {
  @extend .icon;
  > svg { path { fill: $brand-colour; } }
}

// Mountain svg
#sidebar-graphic{
  @extend %graphic;
  @include size(100%, 30%);
  left: 0;
  bottom: 0;
  position: absolute;
}

// General arrows
.arrow {
  @extend %graphic;
  @include size($arrow-size);
  > svg {
    @include size($arrow-size);
    polygon {
      fill: $brand-colour-light;
      @include transition(fill 1s);
    }
  }
  &:hover { > svg { polygon { fill: $hover-colour; } } }
}

// Darker varients
.arrow-dark {
  @extend .arrow;
  > svg { polygon { fill: $brand-colour; } }
}

// Scroll arrow
.scroll-arrow {
  @extend .arrow;
  margin-left: -$arrow-size / 2;
  left: 50%;
  bottom: 10px;
  position: absolute;
  > svg {
    @include opacity(0);
    position: absolute;
    left: 0;
    @include animation(scroll-arrow-ani 1.5s ease-in 0.25s infinite alternate);
  }
}

// Scroll arrow animation
@include keyframes(scroll-arrow-ani) {
  0% { top: 0; @include opacity(0); }
  50% { top: 40%; @include opacity(1); }
  100% { top: 20%; @include opacity(0.25); }
}

// For scroll arrow on side-column on mobile
#scroll-mobile {
  display: none;
  @include media-query($phone) { display: inline; }
}

// For scrolling on the content-column
#scroll-content {
  @extend .arrow-dark;
  @include size($big-icon-size);
  bottom: $spacing-unit;
  margin-left: -$big-icon-size / 2;
  color: $brand-colour-dark;
  text-align: center;
  > svg { 
    @include size($big-icon-size); 
    padding-top: 9px;
  }
  @include media-query($phone) { 
    @include size($arrow-size);
    margin-left: -$arrow-size / 2;
    > svg { @include size($arrow-size); }
  }
  &:hover { > svg { polygon { fill: $brand-colour; } } }
}