/*
 * Site 'two-column' styled layout
 */

// Default page column style
%page-column {
  @extend %clearfix;
  min-height: 100%;
  display: block;
  margin: 0;
}

// For overlaying stuff in a DOM-element (remember z-index)
%dom-layer {
  width: 100%;
  height: 100%;
  position: absolute;
}

// Canvas for drawing nice effects
.canvas-enclosure {
  @extend %dom-layer;
  z-index: 2;
}

// Nice full windowness
html, body {
  @extend %clearfix;
  width: 100%;
  height: 100%;
}

// Left-most side column for meta descriptions etc.
#side-column {
  @extend %page-column;
  width: 40%;
  height: 100%;
  position: fixed;
  float: left;
  
  // For placing stuff under the canvas
  #underlay {
    @extend %dom-layer;
    z-index: 1;
    background: $brand-colour-light;
  }
  
  // For creating a translucent pane
  #glass-pane {
    @extend %dom-layer;
    z-index: 2;
    background-color: #000;
    @include opacity(0.75);
  }
  
  #firefly-canvas { z-index: 2; }
  
  // Overlay for header, menus, descriptions, etc.
  #overlay {
    @extend %dom-layer;
    z-index: 3; 
    line-height: 56px;
    text-align: center;
    color: $brand-colour-light;
  }
  
  #left-panel {
    @include centre-dom();
    @include centre-text();
    z-index: 4;
    width: 100%;
    #side-content {
      margin-bottom: 3 * $spacing-unit;
      #site-description, .site-social-media { margin: 0; }
    }
  }
  
  #site-title {
    font-size: 2em;
    font-weight: 300;
    line-height: 150%;
    letter-spacing: -1px;
    border-bottom: 1px solid $brand-colour;
    padding-bottom: 6px;
    color: $brand-colour-light;
    &:hover { color: $hover-colour; }
    @include media-query-min($laptop) { font-size: 2.5em; }
    @include media-query-min($laptop-l) { font-size: 3.0em; }
    @include media-query-min($full-hd) { font-size: 3.5em; }
  }
  
  #site-tagline {
    font-size: 1em;
    line-height: 200%;
    font-weight: 300;
    padding-top: $spacing-unit / 4;
    @include media-query-min($laptop) { font-size: 1.25em; }
    @include media-query-min($laptop) { padding-top: $spacing-unit / 2; }
    @include media-query-min($full-hd) { font-size: 1.75em; }
  }
  
  // Make canvas full-width if it is the home page
  @at-root &.home {
    #firefly-canvas {
      width: 100%;
      top: auto;
      left: 0px;
      right: 0px;
      position: fixed;
    }
  }
   
  @include media-query($phone) {
    width: 100%;
    position: relative;
  }
}

// Social media list
.contact-list, .site-social-media {
  list-style: none;
  margin-left: 0;
  li {
    display: inline;
    margin: 0 4px;
  }
}

// Site header - contains menu
#site-header {
  z-index: 6;
  width: 100%;
  height: 56px;
  min-height: 56px;
  position: relative;
  @include media-query($phone) { position: fixed; }
}

#site-nav {
  height: 56px;
  line-height: 56px;
  margin: 0 $spacing-unit 0;
  border-bottom: 1px solid $brand-colour;
  position: relative;
  .menu-icon { display: none; }
  #menu { 
    height: 48px;
    line-height: 48px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .page-link {
    line-height: 31px;
    height: 31px;
    padding: 0 10px;
    display: inline-block;
    vertical-align: bottom;
    border-top: 3px solid $brand-colour;
    color: $brand-colour-light;
    &:hover {
      line-height: 45px;
      height: 45px;
      color: $hover-colour;
      background-color: $brand-colour;
      border-top: 3px solid $hover-colour;
    }
    @include transition(line-height 0.25s ease-out, background-color 1s, height 0.5s,
                        color 0.5s, border 1s);
    @at-root &.active { border-top: 3px solid $hover-colour; }
  }
  
  @include media-query($tablet) {
    height: auto;
    max-width: 40px;
    max-height: 40px;
    margin: 0;
    top: 9px;
    right: 9px;
    position: absolute;
    text-align: right;
    border: 1px solid $brand-colour;
    @include border-radius(9px 0);
    
    .menu-icon {
      display: block;
      float: right;
      width: 32px;
      height: 32px;
      line-height: 0;
      padding: 4px;
    }

    #menu {
      height: auto;
      line-height: $base-line-height;
      position: relative;
      clear: both;
      visibility: hidden;
      @include opacity(0);
      @include transition(visibility 0.5s, opacity 0.5s linear);
    }

    &:hover {
      max-width: 100%;
      max-height: 1000px; // :(
      background-color: $brand-colour-dark;
      @include border-radius(9px 0 0 9px);
      #menu { 
        visibility: visible; 
        @include opacity(1);
      }
    }
    @include transition(max-width 1s ease-in-out, max-height 1s linear, border-radius 1s);
    
    .page-link {
      line-height: $base-line-height;
      height: auto;
      display: block;
      padding: 10px 10px;
      vertical-align: baseline;
      &:hover {
        line-height: $base-line-height;
        height: auto;
        color: $hover-colour;
        background-color: $brand-colour;
        border-top: 3px solid $hover-colour;
      }
      &:not(:last-child) { margin-right: 0; }
      @include transition(background-color 0.25s, color 0.125s, border 0.25s);
    }

    // Change the site-nav colour when the page is scrolled down far enough on mobile
    @at-root &.nav-fix { background-color: $brand-colour-dark; }
  }
}

// Right-most column for content
#content-column {
  @extend %page-column;
  width: 60%;
  float: right;
  position: relative;
  
  // Home page content
  #home {
    @extend %dom-layer;
    #home-canvas { z-index: -1; }
    #home-content {
      @include centre-dom();
      @include centre-text(true);
      width: 66%;
      
      #home-bg {
        padding: $spacing-unit / 2 $spacing-unit / 4 $spacing-unit / 8;
        #site-description { font-size: 1.2em; }
      }
      #curly-brackets-top { 
        @include curly-brackets(9px, 3px, 12px, $brand-colour, $bg-colour, top);
      }
      #curly-brackets-bottom { 
        @include curly-brackets(9px, 3px, 12px, $brand-colour, $bg-colour, bottom);
      }
      &:hover {
        hr { border-top: 1px solid $hover-colour; }
        svg { path { fill: $hover-colour; } }
        #curly-brackets-top { 
          @include curly-brackets(9px, 3px, 12px, $hover-colour, $bg-colour, top);
        }
        #curly-brackets-bottom { 
          @include curly-brackets(9px, 3px, 12px, $hover-colour, $bg-colour, bottom);
        }
      }
      &, *, *::before, *::after { @include transition(border 1s, background 1s, fill 1s); }
    }
  }
  
  @include media-query($phone) {
    width: 100%;
    float: left;
    #home { #home-content { width: 80%; } }
  }
}

//Page content
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}