/*
 * Sass mixins - lovely shorthand
 */

// Screen-size or device dependent styles 
@mixin media-query($device) {
   @media screen and (max-width: $device) {
      @content;
   }
}

// Cross-platform keyframes
@mixin keyframes($name) {
   @-webkit-keyframes #{$name} { @content; }
      @-moz-keyframes #{$name} { @content; }
       @-ms-keyframes #{$name} { @content; }
        @-o-keyframes #{$name} { @content; }
           @keyframes #{$name} { @content; }
}

// Cross-platform animation
@mixin animation($ani) {
   -webkit-animation: $ani;
      -moz-animation: $ani;
       -ms-animation: $ani;
        -o-animation: $ani;
           animation: $ani;
}

// Cross-platform transitions
@mixin transition($ani...) {
   -webkit-transition: $ani;
      -moz-transition: $ani;
       -ms-transition: $ani;
        -o-transition: $ani;
           transition: $ani;
}

// Cross-platform opacity
@mixin opacity($opacity) {
   opacity: $opacity;
   filter: alpha(opacity=#{$opacity * 100});
}

// Cross-platform dom selectability
@mixin selectability($val)
{
   -webkit-touch-callout: $val;
     -webkit-user-select: $val;
      -khtml-user-select: $val;
        -moz-user-select: $val;
         -ms-user-select: $val;
             user-select: $val;
}

// Cross-platform box-shadow
@mixin box-shadow($val)
{
   -webkit-box-shadow: $val;
      -moz-box-shadow: $val;
           box-shadow: $val;
}