/* Site-wide style settings and variables
 */

$base-font-family: 'Titillium Web', sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$spacing-unit:     30px;

// Colour palette selection
// TODO: Implement a theme switcher
// @import "themes/firefly_origin"; 
@import "themes/firefly_negative"; 

// Content widths
$content-width: 1000px;
$phone: 600px;
$tablet: 800px;
$laptop: 1024px;
$laptop-l: 1440px;
$full-hd: 1920px;

// Misc Sizes
$icon-size: 32px;
$arrow-size: 48px;
$big-icon-size: 64px;

// Parallax globals
$parallax-perspective: 400px;
